*   {
  font-family: 'Montserrat', Ralewat;
}

/* start started/login page */
.started-page {
  height: 100vh;
}
/* end started/login page */

/* start started/login left page */
.started-page-left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-left {
  width: 300px;
  height: 350px;
  border: 2px solid black;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.container-container {
  width: 275px;
  height: 180px;
  position: relative;
  top: 75px;
}

.container-header {
  margin-bottom: 20px;
}

.container-header h3{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.container-header p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #000000;
}

.container-about {
  width: 270px;
  height: 35px;
  margin-bottom: 20px;

  background: #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.container-about a {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.about {
  padding-top: 5px;
}

.container-start {
  width: 270px;
  height: 35px;
  margin-bottom: 20px;

  background: rgba(255, 220, 60, 0.6);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.container-start a {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.start {
  padding-top: 5px;
}
/* end started/login left page */

/* start started/login right page */
.started-page-right {
  width: 50%;
  height: 100%;
}

.container-right h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffdc3c;
}

.container-right p{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #ffffff;
}
/* end started/login right page */